.howItWorksBlocker {
  height: 8em;
}

.worksWrapper {
  /*  margin-top: 8em; */
  margin-bottom: 6em;
  color: white;
}

.howMatch {
  color: #daa520;
  font-size: 3em;
  font-family: "ONEDAY";
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
}

.titleHowItWorks {
  font-size: 2em;
  text-align: center;
  color: #008b8b;
}

.imgHIW {
  width: 200px !important;
  border-radius: 10px !important;
}

.imgTextWrapperHIW {
  padding: 1em;
}

.imgWrapperHIW {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

.stepHIW {
  font-size: 1.1em;
  text-align: center;
  max-width: 250px;
}

.HIWDev {
  margin-top: 2em;
}

.subTitleHIW {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
}

.howDeveloper {
  display: flex;
  justify-content: space-evenly;
}

.howProject {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .howDeveloper {
    display: block;
  }
  .howProject {
    display: block;
  }

  .stepHIW {
    width: 100%;
    margin: 1em auto;
  }

  .HIWPro {
    margin-top: -1em;
  }

  .howMatch {
    margin-top: 1.8em;
    font-size: 2.5em;
    line-height: 1.5em;
  }

  .subTitleProject {
    margin-bottom: 0em;
    margin-top: 1.8em;
  }

  .titleHowItWorks {
    margin-top: 3em;
    margin-bottom: -1.8em;
  }
}
