#msgBox {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  background-color: #222;
  color: black;
  padding: 10px;
}

.wholeChat {
}

#msgBox div {
  background-color: rgb(206, 202, 202);
  box-sizing: border-box;
  padding: 5px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

#msgBox div span {
  display: block;

  word-break: break-all;
}

form {
  margin-top: 10px;
  width: 400px;
}

form input {
  border-radius: 5px;
  background-color: #222;
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 10px;
  padding-bottom: 30px;
}
