.personalDataBlocker {
  height: 8em;
}

.profileForm {
  width: 30%;
}

.titleProfile {
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
  color: #008b8b;
}

.spanProfile {
  width: 70px;
}

@media screen and (max-width: 1300px) {
  .profileForm {
    margin: 2em auto;
  }
}
