.titleMatchesPending {
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
  color: #008b8b;
  margin-top: 4em;
}

.matchesAccepted {
  margin-bottom: 6em;
}

.matchesPending {
  display: flex;
  justify-content: center;
}
