nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.5em;
  padding: 0;
}

li {
  font-size: 1em;
  margin: 0 2em;
}

.navLinkWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.navIcon {
  margin-left: 0.5em;
}

.logo {
  font-size: 2.1em;
  font-family: "ONEDAY";
  color: #008b8b;
  font-weight: bold;
  margin-top: 0.2em;
  letter-spacing: 2px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-size: 0.8em;
  font-family: "ONEDAY";
  font-weight: bold;
  letter-spacing: 3px;
  color: #daa520;
  margin-left: 0.3em;
}

.textWrapper {
  justify-content: center;
  align-items: center;
}

.logoSep {
  font-size: 1.9em;
  font-weight: 200;
  margin: 0 0.1em 0.2em;
}

.link:link {
  text-decoration: none;
  color: #fff;
}

.link:visited {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: none;
  color: #daa520;
}
