.navIcon {
  margin-right: 0.5em;
}

.link:link {
  text-decoration: none;
  color: #fff;
}

.link:visited {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: none;
  color: #008b8b;
}
