#searchInput {
  padding: 0.5em;
  border: 2px solid #008b8b;
  border-radius: 10px;
  font-size: 20px;
}

#searchInput:focus {
  outline: none;
  border-color: #daa520;
  font-size: 20px;
}

#searchWrapper {
  display: flex;
  margin-left: 2em;
  justify-content: left;
  align-items: center;
}

.titleProjects {
  margin-top: 2em;
}
