#searchInput {
  padding: 0.5em;
  border: 2px solid #008b8b;
  border-radius: 10px;
  font-size: 20px;
}

#searchInput:focus {
  outline: none;
  border-color: #daa520;
  font-size: 20px;
}

/* #searchInput::placeholder {
  color: #daa520;
} */

#searchWrapper {
  display: flex;
  margin: 2em;
  justify-content: center;
  align-items: center;
}

.titleProject {
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
  color: #008b8b;
}
