.cosy-logo img {
  width: 80%;
}

.cosy-header .cosy-logo {
  width: 400px;
  float: left;
  padding: 20px;
  margin-left: 2em;
}

.cosy-header {
  background-color: rgba(0, 7, 11, 0.7);
  color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  margin: 0 !important;
  z-index: 100;
}

.linkLogin {
  font-weight: 200;
  margin: 1em 1.5em !important;
}

.linkLogin:visited {
  color: #fff;
  text-decoration: none;
}

.linkLogin:hover {
  color: #fff;
  text-decoration: none;
}

.cosy-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.cosy-header li a {
  display: block;
  padding: 15px 20px;
  margin: 0.2em 1em;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.cosy-header li a:hover,
.cosy-header #btn-menu:hover {
  color: #008b8b;
  font-weight: bold;
}

.cosy-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  width: 100%;
  text-align: center;
  background: transparent;
}

.cosy-header .icon-menu {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.cosy-header .icon-menu .navicon {
  background: #008b8b;

  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.cosy-header .icon-menu .navicon:before,
.cosy-header .icon-menu .navicon:after {
  background: #008b8b;

  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.cosy-header .icon-menu .navicon:before {
  top: 5px;
}

.cosy-header .icon-menu .navicon:after {
  top: -5px;
}

.cosy-header #btn-menu {
  display: none;
}

.cosy-header #btn-menu:checked ~ .menu {
  max-height: 360px;
}

.cosy-header #btn-menu:checked ~ .icon-menu .navicon {
  background: transparent;
}

.cosy-header #btn-menu:checked ~ .icon-menu .navicon:before {
  transform: rotate(-45deg);
}

.cosy-header #btn-menu:checked ~ .icon-menu .navicon:after {
  transform: rotate(45deg);
}

.cosy-header #btn-menu:checked ~ .icon-menu:not(.steps) .navicon:before,
.cosy-header #btn-menu:checked ~ .icon-menu:not(.steps) .navicon:after {
  top: 0;
  color: #008b8b;
}

@media (min-width: 1000px) {
  .cosy-header li {
    float: left;
  }
  .cosy-header li a {
    padding: 20px 30px;
    margin: 0.5em;
  }
  .cosy-header .menu {
    clear: none;
    float: right;
    max-height: none;
    width: 68%;
  }
  .cosy-header .icon-menu {
    display: none;
  }
}
@media (max-width: 500px) {
  .cosy-header .cosy-logo {
    width: 330px;
    margin-left: 0;
  }
}
