.linkGit:link {
  text-decoration: none;
  color: white;
}

.linkGit:visited {
  text-decoration: none;
  color: white;
}

.linkGit:hover {
  text-decoration: none;
  color: #008b8b;
}

.gitPage {
  margin: 8em 0;
}

.gitTitle {
  color: #008b8b;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2em;
}

.gitSubtitle {
  color: #e1b74d;
}

.gitSubBlock {
  width: 40%;
  margin: 3em auto;
}

.gitFirstBlock {
  display: flex;
}

.gitLastBlock {
  width: 30%;
  margin: 0 auto;
}
