.navIcon {
  margin-right: 0.5em;
}

.linkFooter {
  text-decoration: none;
  color: #fff;
}

.linkFooter:link {
  text-decoration: none;
  color: #fff;
}

.linkFooter:visited {
  text-decoration: none;
  color: #fff;
}

.linkFooter:hover {
  text-decoration: none;
  color: #008b8b;
}
