.inputRadio {
  width: 20%;
}

.inputLabel {
  font-weight: bold;
}

.signUpInput {
  border: 1px solid #008b8b !important;
}

.choose-user-type {
  text-align: center;
  border: 1px solid #008b8b;
  font-size: 16px;
}
.choose-user-type .form-check {
  display: inline-block;
  margin: 0.3em;
}

.legendSignUp {
  font-size: 18px;
  color: #daa520;
  font-weight: bold;
}
